openapi: 3.2.0
info:
  title: OpenTripMap Geographic coordinates of populated place API
  version: 0.0.1
  description: Object types are hierarchically structured.
servers:
- url: https://api.opentripmap.com/0.1
- url: http://api.opentripmap.com/0.1
tags:
- name: Geographic coordinates of populated place
paths:
  /{lang}/places/geoname:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns geographic coordinates for the given placename (region, city, village, etc.). The method returns the place whose name is most similar to the search string. Service based on GeoNames database.
      operationId: getGeoname
      tags:
      - Geographic coordinates of populated place
      parameters:
      - name: lang
        in: path
        required: true
        description: 'Two-letter language code (ISO639-1). The following values are available: en (english), ru (russian)'
        schema:
          type: string
      - name: name
        in: query
        description: Placename
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: Two-letter country code, ISO-3166 (optional). Default is all countries.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns geographic coordinates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Geoname'
        '404':
          description: Placename is not found
      summary: Get geoname
      x-summary-source: derived
components:
  schemas:
    Geoname:
      required:
      - name
      - country
      - lon
      - lat
      type: object
      properties:
        name:
          description: The name of the place
          type: string
        country:
          description: ISO-3166 2-letter country code
          type: string
        lon:
          description: Longitude
          type: number
          format: double
        lat:
          description: Latitude
          type: number
          format: double
        timezone:
          description: The iana timezone id
          type: string
        population:
          description: Population count
          type: integer
        partial_match:
          description: A sign that the method did not return an exact match for the requested name
          type: boolean
      example:
        country: RU
        timezone: Europe/Moscow
        name: Moscow
        lon: 37.61556
        lat: 55.75222
        population: 10381222
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
